<div class="smtp-item my-2 gap-3 flex justify-start items-center text-white">
    <div class="bg-orange-400 font-bold italic rounded-md p-3"><%= item.id %></div>
    <div class="bg-blue-400 font-bold italic rounded-md p-3"><%= item.email %></div>
    <div class="bg-red-300 font-bold italic rounded-md p-3"><%= item.provider %></div>
    <% if(item.is_active) { %>
        <a class="bg-green-600 font-bold italic rounded-md p-3 hover:bg-green-900" href="/smtps/set-smtp/<%= item.id %>">Active</a>
    <% } else { %>
        <a class="bg-green-300 font-bold italic rounded-md p-3 hover:bg-green-600" href="/smtps/set-smtp/<%= item.id %>">Disabled</a>
    <% } %>
    <a class="bg-red-600 min-w-max font-bold italic rounded-md p-3 hover:bg-red-900" href="/smtps/delete/<%= item.id %>">
        <i class="fa fa-trash mr-2"></i>
        Remove
    </a>
</div>