<div class="nav bg-neutral-800 h-[50px] flex justify-between items-center px-12">
    <div class="w-2/3  flex justify-start items-center">
        <%- include('type') %>
        <%- include('search')%>
    </div>
    <div class="w-max mr-12 flex justify-start items-center">
        <%- include('notifications') %>
        <%- include('chat') %>
        <%- include('user-profile') %>
    </div>
</div>